.note {
    height: 100px; 
    width: 100px;
    border: black solid 1px;
    position:absolute;
    /* left: 100px; */
}


.field {

    height: 100vh;
    border: black solid 1px;
    /* position:absolute; */

}