.note {
    min-height: 20%; 
    min-width: 10%;
    max-width: 20%;
    box-sizing:border-box;
    border: black solid 1px;
    position:absolute;
    
    /* left: 100px; */
}

.note textarea {
    /* display: block;
    height: 100%; */
    /* position:absolute; */
    

}


.field {

    height: 100vh;
    border: black solid 1px;
    /* position:absolute; */

}